<!DOCTYPE html>
<html ng-app="dApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DIA</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/js/controllers/diacontroller.js"></script>
    <link rel="manifest" href="/manifest.json">
    <link href="~/swiper-bundle.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' });
        }
    </script>
</body>
<script src="~/swiper-bundle.min.js"></script>
<script src="~/script.js"></script>
</html>