<div ng-controller="diaController">
    <div ng-class="blur"></div>
    <div class="flex-row">
        <div class="diaLittle">
            <img src="~/pictures/dia.svg" />
        </div>
        <div class="qrTop">
            <img src="~/pictures/qr_top.png" />
        </div>
    </div>
    <div id="container">
        <div id="innercontainer" ng-click="cardClick()" ng-class="class">
            <div class="card face">

                <img class="edocHeader" src="~/pictures/edoc_header.png" />
                <p class="edocOne">Дата народження:</p>
                <p class="edocTwo">01.01.1999</p>
                <p class="edocOne">РНОКПП:</p>
                <p class="edocTwo">1255129865</p>
                <div>
                    <marquee behavior="scroll" direction="left">
                        Ой у лузі червона калина похилилася,
                        Чогось наша славна Україна зажурилася.
                        А ми тую червону калину підіймемо,
                        А ми нашу славну Україну, гей, гей, розвеселимо!  Документ діє під час воєнного стану.
                    </marquee>
                </div>
                <div class="flex-row">
                    <div class="ident">
                        <p>Говерла</p>
                        <p>Півень</p>
                        <p>Бандерович</p>
                    </div>
                    <div class="cardBtn" ng-click="showCardProperty($event)">
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="card back face">
                <img class="qrImg" src="~/pictures/qr.png" />
            </div>
        </div>
    </div>
    <div class="expandCardPropery cardPropertyBottom" ng-style="cardPropertyHeight">        
        <p class="cardTextProp">Повна iнформацiя</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Код для перевiрки</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Змiнити порядок вiдображення</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Питання та вiдповiдi</p>
        <hr class="hrCenter" />
        <p class="cardTextProp" ng-click="showCardProperty($event)">X</p>
    </div>

</div>


@*<div id="container">
    <div id="innercontainer">
        <div class="front face">
            front
        </div>
        <div class="back face">
            back
        </div>
    </div>
</div>*@
