


<div class="center">
    <div class="parent">
        <div class="child"></div>
    </div>
</div>




<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }

    .parent {
        transform-style: preserve-3d;
        width: 400px;
        height: 400px;
        border: 2px solid;
        background-color: blue;
    }

    .child {
        transform: rotateY(-30deg);
        width: 400px;
        height: 400px;
        border: 2px solid;
        background-color: red;
        ;
    }

</style>