<div class="flex-row">
    <div class="diaLittle">
        <img src="~/pictures/dia.svg" />
    </div>
    <div class="qr">QR</div>
</div>
<div class="card">
    <img src="~/pictures/edoc_header.png" />
    <p class="edocOne">Дата народження:</p>
    <p class="edocTwo">01.01.1999</p>
    <p class="edocOne">РНОКПП:</p>
    <p class="edocTwo">1255129865</p>
    <marquee behavior="scroll" direction="left">
        Ой у лузі червона калина похилилася,
        Чогось наша славна Україна зажурилася.
        А ми тую червону калину підіймемо,
        А ми нашу славну Україну, гей, гей, розвеселимо!  Документ діє під час воєнного стану.
    </marquee>
    <div class="ident">
        <p>Говерла</p>
        <p>Півень</p>
        <p>Бандерович</p>
    </div>
</div>
