<div ng-controller="diaController">
    <div ng-class="blur"></div>
    <div class="flex-row">
        <div class="diaLittle">
            <img src="~/pictures/dia.svg" />
        </div>
        <div class="qrTop">
            <img src="~/pictures/qr_top.png" />
        </div>
    </div>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div>
                        <div class="container">
                            <div class="innercontainer" ng-click="cardClick()" ng-class="class">
                                <div class="card1 face">
                                    <div class="row">
                                        <div class="col-sm-12">
                                    <img class="edocHeader" src="~/pictures/edoc_header.png" />
                                    <div>
                                        <img class="mainPhoto" src="~/pictures/MainPhoto.jpg" />
                                        <div class="infoMainCard">
                                            <p class="edocOne">Дата народження:</p>
                                            <p class="edocTwo">01.01.1999</p>
                                            <p class="edocOne">РНОКПП:</p>
                                            <p class="edocTwo">1255129865</p>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <marquee behavior="scroll" direction="left" class="line">
                                                Ой у лузі червона калина похилилася,
                                                Чогось наша славна Україна зажурилася.
                                                А ми тую червону калину підіймемо,
                                                А ми нашу славну Україну, гей, гей, розвеселимо!  Документ діє під час воєнного стану.
                                            </marquee>
                                        
                                    </div>
                                    </div>
                                    <div class="flex-row">
                                        <div class="ident">
                                            <p>Говерла</p>
                                            <p>Півень</p>
                                            <p>Бандерович</p>
                                        </div>
                                        <div class="cardBtn" ng-click="showCardProperty($event)">
                                            <p>...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card1 back face">
                                    <img class="qrImg" src="~/pictures/qr.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div>
                        <div class="container">
                            <div class="innercontainer" ng-click="cardClick()" ng-class="class">
                                <div class="card1 face">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img class="edocHeader" src="~/pictures/edoc_header.png" />
                                            <div>
                                                <img class="mainPhoto" src="~/pictures/MainPhoto.jpg" />
                                                <div class="infoMainCard">
                                                    <p class="edocOne">Дата народження:</p>
                                                    <p class="edocTwo">01.01.1999</p>
                                                    <p class="edocOne">РНОКПП:</p>
                                                    <p class="edocTwo">1255129865</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <marquee behavior="scroll" direction="left" class="line">
                                                Ой у лузі червона калина похилилася,
                                                Чогось наша славна Україна зажурилася.
                                                А ми тую червону калину підіймемо,
                                                А ми нашу славну Україну, гей, гей, розвеселимо!  Документ діє під час воєнного стану.
                                            </marquee>

                                        </div>
                                    </div>
                                    <div class="flex-row">
                                        <div class="ident">
                                            <p>Говерла</p>
                                            <p>Півень</p>
                                            <p>Бандерович</p>
                                        </div>
                                        <div class="cardBtn" ng-click="showCardProperty($event)">
                                            <p>...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card1 back face">
                                    <img class="qrImg" src="~/pictures/qr.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="expandCardPropery cardPropertyBottom" ng-style="cardPropertyHeight">
        <p class="cardTextProp" ng-click="showCardProperty2()">Повна iнформацiя</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Код для перевiрки</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Змiнити порядок вiдображення</p>
        <hr class="hrCenter" />
        <p class="cardTextProp">Питання та вiдповiдi</p>
        <hr class="hrCenter" />
        <p class="cardTextProp" ng-click="showCardProperty($event)">X</p>
    </div>
    <div class="expandCardPropery2 cardPropertyBottom2" ng-style="cardPropertyHeight2">
        <hr class="hrCardPropery2" />
        <div>
            <img class="edocHeader2" src="~/pictures/edoc_header.png" />
            <div class="cardTextPropX">
                <span ng-click="showCardProperty2()">X</span>
            </div>

            <div class="ident2">
                <p></p>
                <span>Говерла</span><br />
                <span>Півень</span><br />
                <span>Бандерович</span><br />
                <span class="nameSurnameSpan">Piven Goverla</span>
            </div>
            <table class="middleBold marginInfo1">
                <tr>
                    <th class="tableCellWidth">Стать:</th>
                    <th>Ч</th>
                </tr>
                <tr>
                    <td class="nameSurnameSpan">Sex</td>
                    <td class="nameSurnameSpan">M</td>
                </tr>
            </table>
            <table class="middleBold marginInfo1">
                <tr>
                    <th class="tableCellWidth">Дата Народження:</th>
                    <th>01.03.2000</th>
                </tr>
                <tr>
                    <td class="nameSurnameSpan">Day of birth</td>
                    <td class="nameSurnameSpan"></td>
                </tr>
            </table>
            <table class="middleBold marginInfo1">
                <tr>
                    <th class="tableCellWidth">Громадянство:</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="nameSurnameSpan">Naionality</td>
                    <td class="nameSurnameSpan"></td>
                </tr>
            </table>
            <table class="middleBold marginInfo1">
                <tr>
                    <th class="tableCellWidth">Документ, що <br />посвідчує особу:</th>
                    <th>Паспорт громадянина України</th>
                </tr>
            </table>
            <table class="middleBold marginInfo1">
                <tr>
                    <th class="tableCellWidth">РНОКПП (ІПН):</th>
                    <th>6665552223</th>
                </tr>
            </table>
            <span class="middleBold marginBank">Місце проживання знзначене в банку:</span> <br />
            <span class="middleBold marginBank">Гора говрла печера №5</span>
        </div>
    </div>
</div>


